<configuration>
  <dllmap os="osx" dll="libglib-2.0-0.dll" target="/Library/Frameworks/Mono.framework/Versions/3.10.0/lib/libglib-2.0.0.dylib"/>
  <dllmap os="osx" dll="libgobject-2.0-0.dll" target="/Library/Frameworks/Mono.framework/Versions/3.10.0/lib/libgobject-2.0.0.dylib"/>
  <dllmap os="osx" dll="libatk-1.0-0.dll" target="/Library/Frameworks/Mono.framework/Versions/3.10.0/lib/libatk-1.0.0.dylib"/>
  <dllmap os="osx" dll="libgtk-win32-2.0-0.dll" target="/Library/Frameworks/Mono.framework/Versions/3.10.0/lib/libgtk-quartz-2.0.0.dylib"/>

  <dllmap os="linux" dll="libglib-2.0-0.dll" target="libglib-2.0.so.0"/>
  <dllmap os="linux" dll="libgobject-2.0-0.dll" target="libgobject-2.0.so.0"/>
  <dllmap os="linux" dll="libatk-1.0-0.dll" target="libatk-1.0.so.0"/>
  <dllmap os="linux" dll="libgtk-win32-2.0-0.dll" target="libgtk-x11-2.0.so.0"/>
  <dllmap os="linux" dll="gtksharpglue-2" target="/usr/lib/cli/gtk-sharp-2.0/libgtksharpglue-2.so"/>
  <dllmap os="linux" dll="glibsharpglue-2" target="/usr/lib/cli/glib-sharp-2.0/libglibsharpglue-2.so"/>
</configuration>
